In [8]:
import numpy as np
import seaborn as sn
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN

In [9]:
df = pd.read_json("/media/influx/Programming/Projects/project-final-random/Linkedin/src/main/resources/users.json")

In [10]:
df_train = df.drop(['dateOfBirth', 'name', 'email', 'profile_pic', 'connectionId'], axis=1)

In [11]:
df_train

,id,universityLocation,field,workplace,specialties
0,1,Tehran,AA,Tesla,"[Database, Front-End, Crypto]"
1,2,Princeton,BB,Apple,"[Full-Stack, Machine Learning, Fast Type]"
2,3,Cambridge,AA,Meta,"[Blockchain, C++, AI]"
3,4,Cambridge,BB,Intel,"[Photoshop, Game, Django]"
4,5,Princeton,DD,AMD,"[Full-Stack, Machine Learning, Photoshop, Game..."
...,...,...,...,...,...
1995,1996,Berkeley,BB,TesUberla,"[Java, Hardware, Verilog, Database, IT, Game]"
1996,1997,ETH,AA,Digikala,"[Verilog, Crypto, C#, Front-End, Full-Stack]"
1997,1998,Carnegie,DD,AMD,"[PHP, Machine Learning, Python, Database, Data..."
1998,1999,Cambridge,AA,AMD,"[Machine Learning, Data, Hardware, Django]"
1999,2000,Stanford,CC,Digikala,"[Photoshop, Machine Learning, C++]"

In [12]:
df_train = pd.get_dummies(df_train, columns=["field"])

In [13]:
df_train = pd.get_dummies(df_train, columns=["universityLocation"])

In [14]:
df_train = pd.get_dummies(df_train, columns=["workplace"])

In [15]:
df_train['specialties']

0                           [Database, Front-End, Crypto]
1               [Full-Stack, Machine Learning, Fast Type]
2                                   [Blockchain, C++, AI]
3                               [Photoshop, Game, Django]
4       [Full-Stack, Machine Learning, Photoshop, Game...
                              ...
1995        [Java, Hardware, Verilog, Database, IT, Game]
1996         [Verilog, Crypto, C#, Front-End, Full-Stack]
1997    [PHP, Machine Learning, Python, Database, Data...
1998           [Machine Learning, Data, Hardware, Django]
1999                   [Photoshop, Machine Learning, C++]
Name: specialties, Length: 2000, dtype: object

In [16]:
spec = set(s for user in df_train['specialties'] for s in user)

In [17]:
print(spec)

{'Java', 'Verilog', 'Game', 'C#', 'Fast Type', 'Django', 'Data', 'Full-Stack', 'Database', 'C++', 'IT', 'Back-End', 'Machine Learning', 'Hardware', 'Photoshop', 'AI', 'Algorithm', 'Front-End', 'Python', 'Blockchain', 'Crypto', 'PHP', 'Software'}

In [18]:
for special in spec:
    df_train[special] = [0 for i in range(2000)]

In [19]:
df_train

,id,specialties,field_AA,field_BB,field_CC,field_DD,universityLocation_Amirkabir,universityLocation_Berkeley,universityLocation_Cambridge,universityLocation_Carnegie,...,Hardware,Photoshop,AI,Algorithm,Front-End,Python,Blockchain,Crypto,PHP,Software
0,1,"[Database, Front-End, Crypto]",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,"[Full-Stack, Machine Learning, Fast Type]",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,"[Blockchain, C++, AI]",1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,"[Photoshop, Game, Django]",0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,"[Full-Stack, Machine Learning, Photoshop, Game...",0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,"[Java, Hardware, Verilog, Database, IT, Game]",0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,1997,"[Verilog, Crypto, C#, Front-End, Full-Stack]",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,1998,"[PHP, Machine Learning, Python, Database, Data...",0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1998,1999,"[Machine Learning, Data, Hardware, Django]",1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1999,2000,"[Photoshop, Machine Learning, C++]",0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
i = 0
for user in df_train['specialties']:
    for s in user:
        df_train.at[i, s] = 1
    i+=1

In [21]:
df_train = df_train.drop(['specialties', 'id'], axis=1)

In [22]:
df_train

,field_AA,field_BB,field_CC,field_DD,universityLocation_Amirkabir,universityLocation_Berkeley,universityLocation_Cambridge,universityLocation_Carnegie,universityLocation_ETH,universityLocation_Esfahan,...,Hardware,Photoshop,AI,Algorithm,Front-End,Python,Blockchain,Crypto,PHP,Software
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1996,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
1997,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
1998,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1999,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [23]:
X = df_train.values

In [24]:
X

array([[1, 0, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

In [25]:
len(X)

2000

In [ ]:
wcss = []
for i in range(1, 200):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', random_state = 10)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)

In [ ]:
plt.plot(range(1, 200), wcss)
plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
kmeans = KMeans(n_clusters = 100, init = 'k-means++', random_state = 10)
y_kmeans = kmeans.fit_predict(X)

In [ ]:
y_kmeans

In [ ]:
len(y_kmeans)

In [ ]:
idx = 0
o = list()
for l in y_kmeans:
    if l == 13:
        o.append(idx)
    idx += 1

In [ ]:
o

In [ ]:
users = list()
for idx in o:
    users.append(df.iloc[idx, :])

In [ ]:
users

In [26]:
def find_closest_centroids(X, centroids):
    K = centroids.shape[0]
    idx = np.zeros(X.shape[0], dtype=int)

    for i in range(X.shape[0]):
        distance = list()
        for j in range(K):
            norm_ij = np.linalg.norm(X[i] - centroids[j])
            distance.append(norm_ij)
        idx[i] = np.argmin(distance)
    
    return idx

In [27]:
def compute_centroids(X, idx, K):
    m, n = X.shape
    
    centroids = np.zeros((K, n))
    
    for k in range(K):
        points = X[idx == k] 
        centroids[k] = np.mean(points, axis = 0)
    
    return centroids

In [40]:
def cost_function(X, centroids, idx):
    m = X.shape[0]
    cost = 0
    for i in range(m):
        cost += pow(np.linalg.norm(X[i] - centroids[idx[i]]), 2)
    return 1/m * cost

In [49]:
def run_kMeans(X, K):
    m, n = X.shape
    centroids = kMeans_init_centroids(X, K)
    previous_centroids = centroids    
    idx = np.zeros(m)
    cost = 0
    
    i = 1
    while True:
        
        idx = find_closest_centroids(X, centroids)
        previous_centroids = centroids
        centroids = compute_centroids(X, idx, K)
        new_cost = cost_function(X, centroids, idx)
        
        if new_cost == cost:
            return centroids, idx, cost
        else:
            cost = new_cost

        i+=1

In [50]:
def kMeans_init_centroids(X, K):
    randidx = np.random.permutation(X.shape[0])
    centroids = X[randidx[:K]]
    return centroids

In [51]:
# wcss = []
# for i in range(1, 100):
#     centroids, idx, cost = run_kMeans(X, i)
#     wcss.append(cost)

In [52]:
# plt.plot(range(1, 100), wcss)
# plt.title('The Elbow Method')
# plt.xlabel('Number of clusters')
# plt.ylabel('WCSS')
# plt.show()

In [57]:
K = 80
centroids, idx, cost = run_kMeans(X, K)

K-Means iteration 1
K-Means iteration 2
K-Means iteration 3
K-Means iteration 4
K-Means iteration 5
K-Means iteration 6
K-Means iteration 7
K-Means iteration 8
K-Means iteration 9
K-Means iteration 10
K-Means iteration 11
K-Means iteration 12
K-Means iteration 13
K-Means iteration 14
K-Means iteration 15
K-Means iteration 16

In [ ]:
print(run_kMeans(X, K))

K-Means iteration 1
K-Means iteration 2
K-Means iteration 3
K-Means iteration 4
K-Means iteration 5
K-Means iteration 6
K-Means iteration 7
K-Means iteration 8
K-Means iteration 9
K-Means iteration 10

In [ ]:
i = 0
o = list()
for l in idx:
    if l == 13:
        o.append(i)
    i += 1
    
users = list()
for idx in o:
    users.append(df.iloc[idx, :])

In [48]:
len(centroids)

80