In [40]:
import numpy as np
import seaborn as sn
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from utils import *
from sklearn.cluster import DBSCAN

In [41]:
df = pd.read_json("/media/influx/Programming/Projects/project-final-random/Linkedin/src/main/resources/users.json")

In [42]:
df_train = df.drop(['dateOfBirth', 'name', 'email', 'profile_pic', 'connectionId'], axis=1)

In [43]:
df_train

,id,universityLocation,field,workplace,specialties
0,1,Tehran,AA,Tesla,"[Database, Front-End, Crypto]"
1,2,Princeton,BB,Apple,"[Full-Stack, Machine Learning, Fast Type]"
2,3,Cambridge,AA,Meta,"[Blockchain, C++, AI]"
3,4,Cambridge,BB,Intel,"[Photoshop, Game, Django]"
4,5,Princeton,DD,AMD,"[Full-Stack, Machine Learning, Photoshop, Game..."
...,...,...,...,...,...
1995,1996,Berkeley,BB,TesUberla,"[Java, Hardware, Verilog, Database, IT, Game]"
1996,1997,ETH,AA,Digikala,"[Verilog, Crypto, C#, Front-End, Full-Stack]"
1997,1998,Carnegie,DD,AMD,"[PHP, Machine Learning, Python, Database, Data..."
1998,1999,Cambridge,AA,AMD,"[Machine Learning, Data, Hardware, Django]"
1999,2000,Stanford,CC,Digikala,"[Photoshop, Machine Learning, C++]"

In [44]:
df_train = pd.get_dummies(df_train, columns=["field"])

In [46]:
df_train = pd.get_dummies(df_train, columns=["universityLocation"])

In [48]:
df_train = pd.get_dummies(df_train, columns=["workplace"])

In [50]:
df_train['specialties']

0                           [Database, Front-End, Crypto]
1               [Full-Stack, Machine Learning, Fast Type]
2                                   [Blockchain, C++, AI]
3                               [Photoshop, Game, Django]
4       [Full-Stack, Machine Learning, Photoshop, Game...
                              ...
1995        [Java, Hardware, Verilog, Database, IT, Game]
1996         [Verilog, Crypto, C#, Front-End, Full-Stack]
1997    [PHP, Machine Learning, Python, Database, Data...
1998           [Machine Learning, Data, Hardware, Django]
1999                   [Photoshop, Machine Learning, C++]
Name: specialties, Length: 2000, dtype: object

In [51]:
spec = set(s for user in df_train['specialties'] for s in user)

In [52]:
print(spec)

{'IT', 'Verilog', 'Software', 'PHP', 'Blockchain', 'Hardware', 'Database', 'Machine Learning', 'AI', 'Fast Type', 'C++', 'Back-End', 'Photoshop', 'Data', 'Python', 'Django', 'Front-End', 'C#', 'Crypto', 'Full-Stack', 'Game', 'Java', 'Algorithm'}

In [53]:
for special in spec:
    df_train[special] = [0 for i in range(2000)]

In [54]:
df_train

,id,specialties,field_AA,field_BB,field_CC,field_DD,universityLocation_Amirkabir,universityLocation_Berkeley,universityLocation_Cambridge,universityLocation_Carnegie,...,Data,Python,Django,Front-End,C#,Crypto,Full-Stack,Game,Java,Algorithm
0,1,"[Database, Front-End, Crypto]",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,"[Full-Stack, Machine Learning, Fast Type]",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,"[Blockchain, C++, AI]",1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,"[Photoshop, Game, Django]",0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,"[Full-Stack, Machine Learning, Photoshop, Game...",0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,"[Java, Hardware, Verilog, Database, IT, Game]",0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,1997,"[Verilog, Crypto, C#, Front-End, Full-Stack]",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,1998,"[PHP, Machine Learning, Python, Database, Data...",0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1998,1999,"[Machine Learning, Data, Hardware, Django]",1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1999,2000,"[Photoshop, Machine Learning, C++]",0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
i = 0
for user in df_train['specialties']:
    for s in user:
        df_train.at[i, s] = 1
    i+=1

In [56]:
df_train = df_train.drop(['specialties', 'id'], axis=1)

In [59]:
df_train

,field_AA,field_BB,field_CC,field_DD,universityLocation_Amirkabir,universityLocation_Berkeley,universityLocation_Cambridge,universityLocation_Carnegie,universityLocation_ETH,universityLocation_Esfahan,...,Data,Python,Django,Front-End,C#,Crypto,Full-Stack,Game,Java,Algorithm
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1996,1,0,0,0,0,0,0,0,1,0,...,0,0,0,1,1,1,1,0,0,0
1997,0,0,0,1,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
1998,1,0,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1999,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
X = df_train.values

In [61]:
X

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

In [62]:
len(X)

2000

In [63]:
wcss = []
for i in range(1, 200):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', random_state = 10)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)

In [64]:
plt.plot(range(1, 200), wcss)
plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [65]:
kmeans = KMeans(n_clusters = 100, init = 'k-means++', random_state = 10)
y_kmeans = kmeans.fit_predict(X)

In [67]:
y_kmeans

array([ 36,  11,  54, ..., 136,  46,  97], dtype=int32)

In [68]:
len(y_kmeans)

2000

In [69]:
idx = 0
o = list()
for l in y_kmeans:
    if l == 13:
        o.append(idx)
    idx += 1

In [70]:
o

[366,
 431,
 489,
 548,
 750,
 782,
 815,
 1106,
 1170,
 1182,
 1262,
 1298,
 1308,
 1328,
 1367,
 1656,
 1758]

In [99]:
users = list()
for idx in o:
    users.append(df.iloc[idx, :])

In [72]:
users

[id                                                                  367
 name                                                         arya Hines
 dateOfBirth                                                    2009/3/4
 universityLocation                                                  MIT
 field                                                                AA
 workplace                                                        Amazon
 specialties                             [Java, PHP, Database, Hardware]
 connectionId          [2000, 1486, 266, 73, 824, 936, 1985, 1087, 19...
 email                                         aryaHines2009@skinner.org
 profile_pic            https://randomuser.me/api/portraits/women/26.jpg
 Name: 366, dtype: object,
 id                                                                  432
 name                                                       farjAd Starr
 dateOfBirth                                                   2008/1/21
 universityLocation                                                  ETH
 field                                                                AA
 workplace                                                        Amazon
 specialties                             [Algorithm, Database, Hardware]
 connectionId          [429, 434, 932, 411, 568, 178, 765, 264, 197, ...
 email                                          farjAdStarr2008@reed.net
 profile_pic            https://randomuser.me/api/portraits/women/64.jpg
 Name: 431, dtype: object,
 id                                                                  490
 name                                                      tarsa Hartman
 dateOfBirth                                                   1980/6/10
 universityLocation                                                  ETH
 field                                                                AA
 workplace                                                        Amazon
 specialties              [Python, Machine Learning, Algorithm, Verilog]
 connectionId          [487, 492, 747, 283, 568, 961, 478, 874, 338, ...
 email                                         tarsaHartman@martinez.net
 profile_pic            https://randomuser.me/api/portraits/women/17.jpg
 Name: 489, dtype: object,
 id                                                                  549
 name                                                     elaheh Langley
 dateOfBirth                                                   2008/10/5
 universityLocation                                                  ETH
 field                                                                AA
 workplace                                                        Amazon
 specialties                                            [Python, Crypto]
 connectionId          [548, 551, 513, 377, 650, 509, 23, 147, 434, 7...
 email                                     elahehLangley2008@harper.info
 profile_pic            https://randomuser.me/api/portraits/women/47.jpg
 Name: 548, dtype: object,
 id                                                                  751
 name                                                         nouri Moss
 dateOfBirth                                                   1995/8/27
 universityLocation                                                  ETH
 field                                                                AA
 workplace                                                        Amazon
 specialties           [Blockchain, IT, Machine Learning, PHP, Algori...
 connectionId          [1967, 1997, 214, 1311, 1289, 431, 669, 1532, ...
 email                                  Moss1995@armstrong-gutierrez.com
 profile_pic              https://randomuser.me/api/portraits/men/68.jpg
 Name: 750, dtype: object,
 id                                                                  783
 name                                                     roxana Vincent
 dateOfBirth                                                   1991/12/5
 universityLocation                                                  ETH
 field                                                                AA
 workplace                                                        Amazon
 specialties                      [Algorithm, Verilog, Machine Learning]
 connectionId          [782, 784, 513, 254, 548, 667, 55, 765, 122, 1...
 email                            roxanaVincent1991@huffman-cardenas.net
 profile_pic              https://randomuser.me/api/portraits/men/85.jpg
 Name: 782, dtype: object,
 id                                                                  816
 name                                                    shahnaz Solomon
 dateOfBirth                                                   2008/5/26
 universityLocation                                               Tehran
 field                                                                AA
 workplace                                                        Amazon
 specialties           [Data, Full-Stack, Database, Algorithm, Front-...
 connectionId                                         [1027, 1849, 1308]
 email                                                shahnaz@wright.com
 profile_pic              https://randomuser.me/api/portraits/men/15.jpg
 Name: 815, dtype: object,
 id                                                                 1107
 name                                                       Susan Holmes
 dateOfBirth                                                   1983/11/2
 universityLocation                                              Esfahan
 field                                                                AA
 workplace                                                        Amazon
 specialties           [Front-End, Hardware, Blockchain, Game, Database]
 connectionId          [1102, 1110, 1792, 1546, 1143, 1089, 1425, 125...
 email                                          Susan1983@montgomery.com
 profile_pic            https://randomuser.me/api/portraits/women/74.jpg
 Name: 1106, dtype: object,
 id                                                                 1171
 name                                                       Sheila Baker
 dateOfBirth                                                   1991/9/24
 universityLocation                                            Princeton
 field                                                                AA
 workplace                                                         Intel
 specialties                             [Algorithm, Database, Software]
 connectionId          [1168, 1173, 1958, 1089, 1809, 1262, 1490, 142...
 email                                            SheilaBaker@jacobs.com
 profile_pic            https://randomuser.me/api/portraits/women/14.jpg
 Name: 1170, dtype: object,
 id                                                              1183
 name                                                  Alyssa Vincent
 dateOfBirth                                               1970/12/29
 universityLocation                                         Cambridge
 field                                                             AA
 workplace                                                     Amazon
 specialties                  [Algorithm, C++, Verilog, AI, Database]
 connectionId                                [1181, 1184, 1862, 1452]
 email                                     Vincent@nelson-carlson.com
 profile_pic           https://randomuser.me/api/portraits/men/44.jpg
 Name: 1182, dtype: object,
 id                                                                 1263
 name                                                     Robert Johnson
 dateOfBirth                                                   1978/9/17
 universityLocation                                            Cambridge
 field                                                                AA
 workplace                                                        Amazon
 specialties           [C++, Database, Data, Machine Learning, Algori...
 connectionId          [1283, 965, 1443, 901, 1108, 1967, 1568, 1030,...
 email                                                Robert@cameron.com
 profile_pic              https://randomuser.me/api/portraits/men/55.jpg
 Name: 1262, dtype: object,
 id                                                                 1299
 name                                                        Eric Butler
 dateOfBirth                                                  1999/11/30
 universityLocation                                             Stanford
 field                                                                AA
 workplace                                                         Intel
 specialties           [Front-End, Algorithm, Full-Stack, Machine Lea...
 connectionId                                           [1048, 138, 111]
 email                                                Eric1999@brown.com
 profile_pic              https://randomuser.me/api/portraits/men/74.jpg
 Name: 1298, dtype: object,
 id                                                                 1309
 name                                                     Jason Chambers
 dateOfBirth                                                   1987/8/13
 universityLocation                                            Amirkabir
 field                                                                AA
 workplace                                                         Adobe
 specialties                       [Algorithm, Database, AI, Full-Stack]
 connectionId          [1555, 626, 263, 1961, 248, 48, 63, 389, 706, ...
 email                                         Chambers@vance-potter.com
 profile_pic            https://randomuser.me/api/portraits/women/69.jpg
 Name: 1308, dtype: object,
 id                                                                 1329
 name                                                       Cory Alvarez
 dateOfBirth                                                  2010/10/28
 universityLocation                                             Carnegie
 field                                                                AA
 workplace                                                        Amazon
 specialties                               [Database, IT, Hardware, PHP]
 connectionId          [1214, 1051, 1408, 1696, 113, 712, 48, 413, 38...
 email                                                 Alvarez@lopez.com
 profile_pic              https://randomuser.me/api/portraits/men/99.jpg
 Name: 1328, dtype: object,
 id                                                                 1368
 name                                                   Jessica Robinson
 dateOfBirth                                                    1991/7/4
 universityLocation                                            Princeton
 field                                                                AA
 workplace                                                        Amazon
 specialties                [Fast Type, AI, Verilog, Hardware, Database]
 connectionId          [1367, 1369, 1001, 1405, 1638, 1258, 1841, 123...
 email                                               Robinson@chaney.com
 profile_pic              https://randomuser.me/api/portraits/men/72.jpg
 Name: 1367, dtype: object,
 id                                                                 1657
 name                                                   Joshua Robertson
 dateOfBirth                                                   1976/6/10
 universityLocation                                            Amirkabir
 field                                                                AA
 workplace                                                        Amazon
 specialties           [Database, Machine Learning, Game, Algorithm, ...
 connectionId                                         [1724, 1503, 1690]
 email                             JoshuaRobertson@mcdowell-anderson.com
 profile_pic              https://randomuser.me/api/portraits/men/39.jpg
 Name: 1656, dtype: object,
 id                                                                 1759
 name                                                       Timothy Hunt
 dateOfBirth                                                   1983/5/19
 universityLocation                                             Carnegie
 field                                                                AA
 workplace                                                        Amazon
 specialties                      [Software, Hardware, Database, Python]
 connectionId          [1758, 1760, 1518, 1501, 1070, 990, 1081, 1055...
 email                                           Timothy1983@mcclure.org
 profile_pic              https://randomuser.me/api/portraits/men/51.jpg
 Name: 1758, dtype: object]